.route-control__container {
  display: flex;
  margin: 20px;
  flex-direction: column;
  width: 250px;
  height: 350px;
  position: absolute;
  right: 0;
  overflow-y: scroll;
  border-radius: 3px;
}

.route-control__button {
  display: none;
}

.route-control__close {
  display: none;
}

.route-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.route-list-item {
  display: flex;
  background: #f2f2f2;
  border: 1px solid #000;
}

.route-list-item > input {
  margin: 10px;
}

.route-list-item > span {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  border-left: 1px solid #000;
}

.route-list-item__title > span {
  display: inline-flex;
  justify-content: center;
  padding: 7px;
  margin-left: 32px;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 991px) {
  .route-control__container {
    height: 100%;
    margin: 0;
  }

  .route-list {
    transition: transform 0.5s;
    transform: translateX(250px)
  }

  .route-list.slide {
    transform: translateX(0);
  }

  .route-control__button {
    display: initial;
    margin-top: 20px;
    position: absolute;
    right: 0;
  }
  
  .route-control--exit {
    margin-top: 0px;
    position: initial;
    right: initial;
    align-self: center;
    font-style: normal;
    padding: 5px;
    cursor: pointer;
  }
}