.route-control__container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  position: absolute;
  right: 0;
  overflow-y: scroll;
  border-radius: 3px;
}

.route-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.route-list-item {
  display: flex;
  background: #f2f2f2;
  border: 1px solid #000;
}

.route-list-item > input {
  margin: 10px;
}

.route-list-item > span {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  border-left: 1px solid #000;
}

.route-list-item__title > span {
  display: inline-flex;
  justify-content: center;
  padding: 7px;
  margin-left: 33px;
  font-weight: 700;
  font-size: 20px;
}